<%- include('partials/header') %>
<div class="outer_contact" style="padding-bottom: 1em;">
    <div class="outer_contact1new">
        <div class="aboutdiv" data-aos="zoom-in"data-aos-duration="2000">
            <p class="aboutpara">My name is <span style="font-weight: 600;">Chandrakantha H P</span>, an Information Science student at Vidya Vardhaka College of Engineering and an aspiring full-stack web developer. I am passionate about harnessing technology to revolutionize the web industry.</p>
            <h2 class="aboutpara" style="font-weight: 800;text-decoration: underline;">Education and Skills</h2>
            <div class="educationskills">
                <img class="educationimg floating" src="book_prev_ui.png" alt="">
                <img class="educationimg floating1" src="skills_prev_ui.png" alt="">
            </div>
            <p class="aboutpara">Pursuing a Bachelor's degree in Information Science, I am equipped with a strong foundation in computer science principles, including data structures, algorithms, and software engineering. This theoretical knowledge is complemented by my practical skills in web development, primarily focusing on front-end and back-end technologies like HTML, CSS, JavaScript, Node.js, MongoDB, and React.js. I am also proficient in utilizing MySQL.</p>
            <p class="aboutpara">As a full-stack web developer, I aspire to create innovative and user-friendly websites.</p>
            <p class="aboutpara">I am always eager to connect with individuals who share my passion for technology. Feel free to reach out to me via email at <span style="font-weight: 600;">chandrakantha628@gmail.com</span></p>
            <p></p>
        </div>
    </div>
</div>
<%- include('partials/footer') %>